/* Contenedor general */
.bus-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilo para la tabla */
  .bus-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .bus-table th,
  .bus-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .bus-table th {
    background-color: #4CAF50;
    color: white;
  }
  
  .bus-table td {
    background-color: #fff;
  }
  
  .bus-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilo para el botón "Ver Detalles" */
  .view-details-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .confirm-btn-green {
    background-color: #28a745;  /* Verde */
    color: white; /* Texto blanco */
    border: none;
    font-weight: bold;
  }
  
  .confirm-btn-green:hover {
    background-color: #218838;  /* Verde más oscuro al pasar el mouse */
  }
  
  /* Estilo para los controles de paginación */
  .pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-btn:hover {
    background-color: #0056b3;
  }
  
  .pagination-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  /* Estilo responsivo */
  @media (max-width: 768px) {
    .bus-container {
      width: 95%;
    }
  
    .bus-table th,
    .bus-table td {
      padding: 8px;
    }
  }
  